@import "bootstrap/scss/bootstrap";

.searchInput {
  height: 38px;
}

.searchIcon {
  width: 25px;
  height: 37px;
}

.todoListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.todoListItem__control {
  display: flex;
  align-items: center;
}

.todoListItem__date {
  margin: 0;
}

.todoListItem__control * {
  margin-left: 10px;
}

.todoListItem:first-child {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.logo {
  width: 30px;
}

.logoIcon {
  margin-right: 10px;
}

.tab-btn {
  height: 53px;
}

.search-wrapper {
  display: flex;
  margin-left: 12px;
}

.form-select {
  width: 150px;
  height: 38px;
}

.form-tip {
  margin: 0 10px 0 0;
}

.form-check:not(:first-of-type) {
  margin-left: 15px;
}

.priority {
  width: 24px;
  height: 24px;
}

dialog {
  text-align: center;
  z-index: 10;
}

dialog::backdrop {
  background-image: linear-gradient(
      45deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
  );
  opacity: 0.75;
}

.form-title {
  margin-bottom: 20px;
}

.form-controller {
  margin-bottom: 16px;
}

.form-controller div:last-child {
  margin-left: 20px;
}

.form-footer button:last-of-type {
  margin-left: 15px;
}

.add-btn {
  max-height: 38px;
}
